@import "tailwindcss";

@theme {
  /* Define your theme colors as variables */
  --color-app-bg: #ffffff;
  --color-app-text: #213547;
  --color-card-bg: #f9f9f9;
}

@variant dark (&:where(.dark, .dark *));

/* Update variables when the .dark class is present on <html> */
.dark {
  --color-app-bg: #242424;
  --color-app-text: rgba(255, 255, 255, 0.87);
  --color-card-bg: #2f2f2f;
}

@layer base {
  :root {
    background-color: var(--color-app-bg);
    color: var(--color-app-text);
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
